body {
  margin: 0;
  padding: 0;
  color: #555;
}

a {
  color: #555;
}

h1 {
  margin: 0;
  padding: 0.5em 1em;
  font-size: 1em;
}

main {
  margin:0;
  padding: 0 0 3em 0;
}

section h2 {
  margin: 0;
  padding: 0.2em 1em;
  background-color: #fff;
  font-size: 1em;
  font-family: sans-serif;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
}

section ul li {
  white-space: nowrap;
}

nav {
  margin: 0;
  padding: 0.5em 1em;
  border-top: 1px solid #eee;
  background-color: #fff;
  font-family: sans-serif;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
}
